@model Biblio_Models.Entiteiten.Categorie
@{
    ViewData["Title"] = "Nieuwe categorie";
}

<h1>Nieuwe categorie</h1>

<form asp-action="Create" method="post">
    <div class="mb-3">
        <label class="form-label">Naam</label>
        <input asp-for="Naam" class="form-control" />
        <span asp-validation-for="Naam" class="text-danger"></span>
    </div>

    <button class="btn btn-primary">Opslaan</button>
    <a asp-action="Index" class="btn btn-secondary">Annuleer</a>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}